@import "../../../../css/variables";

.contact.contact {
  padding: 15px;

  > .mCustomScrollBox {
    max-height: 100% !important;
  }

  .contact_card {
    background: #fff;
    border-radius: 5px;
    padding: 15px;

    .contact_meta {
      text-align: center;

      .avatar {
        width: 80px;
        height: 80px;
        margin: 15px 0;
      }

      .contact_meta_full_name {
        font-size: 16px;
        color: #333;
        font-weight: 700;
        word-wrap: break-word;
      }

      .contact_meta_triggers {
        margin: 15px 0;

        > ul {
          text-align: center;
          padding: 10px 0;

          > li {
            display: inline-block;
            text-align: center;
            color: $main_color;
            padding: 5px 15px;
            border: 1px solid $main_color;
            border-radius: 30px;
            cursor: pointer;

            svg {
              width: 16px;
              height: 16px;
              top: -2px;
              position: relative;
              margin-right: 10px;
            }

            > div {
              font-size: 12px;
            }
          }
        }
      }
    }

    .contact_info {
      margin-top: 15px;

      .contact_info_key {
        color: #a8adb3;
        font-size: 12px;
        text-transform: capitalize;
      }

      .contact_info_value {
        color: #575f69;
        font-size: 14px;
        word-wrap: break-word;
      }

      > ul {
        > li {
          border-top: 1px solid #eee;
          padding: 10px 0;
          margin: 0 10px;

          &.contact_action {
            padding-top: 25px;
          }
        }
      }
    }
  }
}
