@import "../../../css/variables";

.dag-password-container {
  input {
    padding-right: 37px;
  }

  .pass-svg {
    width: 24px;
    top: calc(50% - 12px);
    right: 6px;
    position: absolute;
    pointer-events: auto;
    cursor: pointer;
  }

  .password {
    -webkit-text-security: disc;
    -moz-text-security: disc;
  }
}

.click-to-receive {
  text-align: right;
  margin-top: 20px;
  a {
    color: #2c3e50;
  }
}
