<div ng-if="pass.askPassword">
  <div class="passModalMask">
  </div>
  <div class="passModal" ng-class="{'animated  bounceInDown':pass.askPassword}">
    <form style="margin: 20px;" ng-submit="pass.set(pass.askPassword.isSetup, pass.askPassword.callback)">
      <div class="columns m20t">
        <label class="size-14 text-center" for="password" ng-if="pass.askPassword.isSetup">
          <span ng-show="!pass.isVerification" translate>Set up a password</span>
          <span ng-show="pass.isVerification" translate>Repeat password</span>
        </label>
        <label class="size-14 text-center" for="password" ng-if="!pass.askPassword.isSetup">
          <span translate>Enter your password</span>
        </label>

        <div class="text-warning size-12 m10b text-center" ng-show="pass.askPassword.error">
          {{pass.askPassword.error|translate}}
        </div>
        <div class="input m20t">
          <dag-password-input ng-change="pass.validate()"
                        placeholder="'Your password'"
                        name="'password'"
                        ng-model="pass.password"
                        can-set-visible="true"
                        id="'passwordInput'"
                        auto-focus="true"></dag-password-input>
        </div>
        <div class="text-warning" ng-repeat="error in pass.validationErrors"
             ng-if="pass.askPassword.isSetup && !pass.isVerification">
          <p class="size-12 text-center m10b">{{error|translate}}</p>
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns">
          <button type="button" class="btn round small-6 columns outline dark-gray expand"
                  ng-click="pass.close(pass.askPassword.callback)" translate>
            CANCEL
          </button>
        </div>

        <div class="small-6 columns">
          <button class="btn btn_red-full round expand"
                  ng-disabled="pass.askPassword.isSetup && (!pass.password || pass.validationErrors.length > 0)"
                  ng-style="{'background-color':index.backgroundColor}">
            <span ng-if="pass.askPassword.isSetup" translate>SET</span>
            <span ng-if="!pass.askPassword.isSetup">OK</span>
          </button>
        </div>
        <div class="small-12 columns click-to-receive" ng-if="pass.showReceiveOnPassword()">
          <a href="#" ng-click="pass.showReceive()" translate>Click to Receive</a>
        </div>
      </div>

      <p class="text-warning size-12 columns m20t text-center" ng-show="pass.askPassword.isSetup">
        <i class="fi-alert"></i>
        <span translate ng-show="!pass.error"> Your wallet key will be encrypted. Password cannot be recovered. Be sure to write it down</span>
        <span ng-show="pass.error">{{pass.error|translate}}</span>
      </p>
    </form>
  </div>
</div>
