<div class="dag-password-container">
  <input type="{{inputType}}"
         ng-class="{'password': !canSetVisible || !passwordVisible}"
         placeholder="{{placeholder | translate}}"
         id="{{id}}"
         name="{{name}}"
         ng-model="ngModel"
         autocomplete="off"
         ng-change="onChange()" />
  <svg-icon class="pass-svg hide-pass" ng-if="canSetVisible && passwordVisible" ng-click="toggle()" name="hide_pass"></svg-icon>
  <svg-icon class="pass-svg show-pass" ng-if="canSetVisible && !passwordVisible" ng-click="toggle()" name="show_pass"></svg-icon>
</div>
