{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": "@earnest/eslint-config-es7",
  "rules": {
    "indent": [1, 4, {"SwitchCase": 1}],
    "no-unused-vars": 1,
    "max-len": [1, 100, 4],
    "strict": [1, "global"],
    "no-debugger": 0,
    "spaced-comment": [1],
    "no-var": [1]
  },
  "globals": {
    "use": true,
    "make": true
  },
  "parserOptions": {
    "sourceType": "script"
  }
}
