<div class="backup" ng-if="index.needsBackup" ng-click="index.openBackupNeededModal()">
  <span translate>Wallet seed not backed up</span>
</div>
<dag-nav-bar title="{{ 'Paired devices' | translate}}">
    <a dag-state-transition="slide-left" ui-sref="addCorrespondentDevice">
        <svg-icon name="add"></svg-icon>
    </a>
</dag-nav-bar>

<div class="content chats" ng-init="readList()">
    <ul class="correspondentList">

        <li ng-repeat="correspondent in list" ng-class="{'noclick': !correspondent.clickable}">

            <a ng-show="selectedCorrespondentList[correspondent.device_address]"
               ng-hide="hideRemoveButton(correspondent.removable)"
               ng-click="remove(correspondent.device_address)"
               class="removeCorrespondentList">
                <svg-icon name="delete"></svg-icon>
            </a>

            <a class="selectCorrespondentList"
               ng-show="editCorrespondentList"
               ng-click="toggleSelectCorrespondentList(correspondent.device_address)">
                <i class="fi-trash"></i></a>

            <div ng-click="showCorrespondent(correspondent)" class="pointer">
                {{correspondent.name}}
                <div class="right text-gray"><i class="icon-arrow-right3 size-24"
                                                ng-show="!editCorrespondentList && hideRemove"></i></div>
                <div class="right correspondentlist_badge" ng-show="newMessagesCount[correspondent.device_address]">
                    {{newMessagesCount[correspondent.device_address]}}
                </div>
                <div class="size-10 text-gray ellipsis">{{correspondent.device_address}}@{{correspondent.hub}}</div>
            </div>
        </li>

    </ul>

    <button ng-show="!editCorrespondentList" ng-click="hideRemove = !hideRemove" class="btn btn_red tiny">
        <svg-icon name="remove"></svg-icon>
        <span translate>Remove a device</span>
    </button>
</div>

<div ng-include="'views/includes/menu.html'" ng-show="!index.noFocusedWallet"></div>
