<div ng-init="init()" style="height:100%;" ng-scrollbars>
  <dag-nav-bar ng-if="agreed && index.hasProfile" title="{{'Terms of Use' | translate}}" go-back="about" invert></dag-nav-bar>
  <div class="onGoingProcess" ng-show="loading">
    <div class="onGoingProcess-content" ng-style="{'background-color':'#222'}">
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
      <span translate>Loading...</span>
    </div>
  </div>
  <div class="introduction-svg" ng-include="'views/includes/background.html'"></div>
  <div class="content p20b" ng-class="{'disclaimer':!index.hasProfile}">
    <h4 class="title m0" ng-show="!index.hasProfile" style="background: transparent;">
      <div class="right">Dagcoin</div>
      <div translate>Terms of Use</div>
    </h4>
    <div class="p20h m10t">
      <div class="p20h">
        <div class="enable_text_select size-14" ng-include="'views/includes/terms_of_use.html'"></div>
      </div>

      <div ng-show="!agreed" class="text-center">
        <p translate><label>
          <input type="checkbox" ng-model="isAgree"/>
          I confirm that I have read, understood, and agree to these terms.</label></p>
        <button class="btn btn_red-full m20t" ng-disabled="!isAgree" ng-click="agree()" ng-disabled="loading" translate>
          Confirm
        </button>
      </div>
      <button ng-show="agreed && !index.hasProfile" class="btn btn_red" ng-click="agree()" translate>
        Go back
      </button>
    </div>
    <div class="extra-margin-bottom"></div>
  </div>
</div>
