<dag-nav-bar title="{{ 'Security' | translate}}" go-back="preferencesGlobal" invert></dag-nav-bar>

<div class="content preferences" ng-controller="preferencesSecurityController as prefGlobal" ng-init="prefGlobal.init()">
  <ul ng-hide="index.isPrivKeyExternal">
    <li ui-sref="backup">
      <div translate>Backup wallet</div>
      <div class="right text-gray">
        <span class="text-warning" ng-show="index.needsBackup">
          <i class="fi-alert"></i><span translate>Still not done</span>
        </span>
      </div>
    </li>
    <li ui-sref="recovery">
      <div translate>Recover wallet</div>
    </li>
    <li class="cursor-default">
      <div translate>Request Spending Restrictions</div>
      <switch id="network-name" name="encrypt" ng-model="encrypt" class="green right"></switch>
    </li>
  </ul>

</div>
