<dag-nav-bar title="{{ 'Session log' | translate}}" go-back="about" invert></dag-nav-bar>


<div class="content preferences" ng-scrollbars>

  <div class="row columns large-centered medium-centered">
    <button class="btn btn_red-full round " ng-click="logs.sendLogs()" ng-show="index.isCordova"><i class="fi-mail"></i>
      <span translate>Send by email</span>
    </button>

    <ul class="preferences_links" style="word-wrap: break-word;">
      <li class="line-b enable_text_select" ng-repeat="l in logs.logs">
      <span
        ng-class="{'text-warning': l.level=='warn', 'text-secondary': l.level=='debug', 'text-primary': l.level=='info', 'text-alert': l.level=='error' }">
      {{l.msg}}
      </span>
      </li>
    </ul>
  </div>
</div>
