<dag-nav-bar title="{{ 'Security' | translate}}" go-back="preferencesGlobal" invert></dag-nav-bar>

<div class="content preferences" ng-controller="preferencesSecurityController as prefGlobal" ng-init="prefGlobal.init()">
  <ul ng-hide="index.isPrivKeyExternal">
    <li ui-sref="backup">
      <div translate>Backup wallet</div>
      <div class="right text-gray">
        <span class="text-warning" ng-show="index.needsBackup">
          <i class="fi-alert"></i><span translate>Still not done</span>
        </span>
      </div>
    </li>
    <li ui-sref="recovery">
      <div translate>Recover wallet</div>
    </li>
    <div ng-show="!index.noFocusedWallet && index.canSign">
      <h4 translate ng-show="index.canSign">
        Spending Restrictions
      </h4>
        <li class="cursor-default">
          <div translate>Set password</div>
          <switch id="network-name" name="encrypt" ng-model="encrypt" class="green right"></switch>
        </li>
        <li ng-show="prefGlobal.touchidAvailable">
          <switch id="touchid" name="touchid" ng-model="touchid" class="green right"></switch>
          <div translate>Scan Fingerprint</div>
        </li>
    </div>
  </ul>

</div>
