<dag-nav-bar title="{{ 'Language' | translate}}" go-back="system" invert></dag-nav-bar>

<div class="content preferences" ng-scrollbars>
  <ul class="preferences_links">
  <li ng-repeat="lang in prefLang.availableLanguages" ng-click="prefLang.save(lang.isoCode)">
    <span>{{lang.name}}</span>
    <svg-icon name="check" class="right" ng-if="index.defaultLanguageIsoCode == lang.isoCode"></svg-icon>
  </li>
  </ul>

  <div class="dag_tip no_icon">
    <h4 translate>Translations</h4>
    <p translate>We’re always looking for translation contributions!</p>
    <p translate>You can make corrections or help to make this app available in your native language by joining <a ng-click="openExternalLink('https://crowdin.com/project/dagcoin')" class="inline">our community</a> on Crowdin.</p>
  </div>
</div>

