<dag-nav-bar title="{{ 'About Dagcoin' | translate }}" go-back="preferencesGlobal" invert></dag-nav-bar>

<div class="content preferences" ng-controller="preferencesAbout as about">
  <h4 translate>Release Information</h4>
  <div ng-controller="versionController as v">
    <ul class="preferences_links">
      <li>
        <div translate>Version</div>
        <div class="value">v{{v.version}} Beta</div>
      </li>
    </ul>
  </div>

  <h4></h4>

  <ul class="preferences_links">
    <li dag-state-transition="slide-left" ui-sref="disclaimer" dag-right-icon="chevron-thin-right">
      <div translate>Terms of Use</div>
    </li>
    <li dag-state-transition="slide-left" ui-sref="logs" dag-right-icon="chevron-thin-right">
      <div translate>Session log</div>
    </li>
  </ul>

</div>
