<div ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Recovery'; goBackToState = 'preferencesGlobal';">
</div>
<div class="content" ng-controller="recoveryFromSeed as recFromSeed">

	<div class="onGoingProcess" ng-show="recFromSeed.scanning">
		<div class="onGoingProcess-content" ng-style="{'background-color':index.backgroundColor}">
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
			<span translate> Scanning for addresses... </span>
		</div>
	</div>

  <div class="text-center size-14" ng-show="recFromSeed.error">
    <span class="text-warning">
      {{recFromSeed.error}}
    </span>
  </div>

  <form name="settingsDeviceNameForm" class="columns" ng-submit="recFromSeed.recoveryForm()">
    <label>
      <span translate>Your Wallet Seed:</span>
    </label>

    <textarea id="inputMnemonic" ng-model="recFromSeed.inputMnemonic" style="max-height: 100px;"></textarea>

    <div class="page-action">
      <button ng-show="!recFromSeed.scanning" type="submit" class="btn btn_red-full"
             ng-disabled="recFromSeed.inputMnemonic.trim() === ''" translate>
             Recover
      </button>
    </div>

    <div class="text-alert size-14 text-center m15t">
      <span translate>WARNINGS:</span> <br/>
      <span translate>This will permanently delete all your existing wallets!</span> <br/>
      <span translate>Only single-sig wallets can be recovered.</span> <br/>
      <span translate>Correspondents are not restored.</span> <br/>
      <span translate>Do not clone wallets, stop using the original wallet with this seed.</span> <br/>
    </div>
  </form>
</div>
