<dag-backup-notification ng-if="(!pass.needsUnlock || pass.needsUnlock.success === true) && index.needsBackup">
</dag-backup-notification>

<dag-nav-bar title="{{index.alias ? index.alias : index.walletName}}" ng-show="!pass.needsUnlock || pass.needsUnlock.success === true">
  <qr-scanner ng-if="tab === 'send' && index.isComplete"
              on-scan="index.onQrCodeScanned(data)"
              title="{{ 'Scan address' | translate }}">
  </qr-scanner>
  <a id="address-share" ng-if="index.isCordova && tab === 'receive' && index.isComplete"
     ng-click="home.shareAddress(home.addr[index.walletId])">
    <svg-icon name="share-icon"></svg-icon>
  </a>
</dag-nav-bar>


<div class="content" ng-scrollbars>
  <div class="onGoingProcess" ng-show="index.isOffline || (index.anyOnGoingProcess && !index.isOffline) || (home.onGoingProcess && !index.anyOnGoingProces && !index.isOffline)">
    <div class="onGoingProcess-content">
      <dag-spinner></dag-spinner>
      <!-- 1 -->
      <span translate ng-show="index.isOffline">Reconnecting to Wallet Service...</span>
      <!-- 2 -->
      <span ng-show="home.onGoingProcess && !index.anyOnGoingProces && !index.isOffline">{{home.onGoingProcess|translate}}...</span>
      <!-- 3 -->
      <span translate ng-show="['openingWallet', 'updatingStatus', 'updatingBalance', 'updatingPendingTxps', 'updatingHistory'].indexOf(index.onGoingProcessName) >= 0">Updating Wallet...</span>
      <span translate ng-show="index.onGoingProcessName == 'scanning'">Scanning Wallet funds...</span>
      <span translate ng-show="index.onGoingProcessName == 'recreating'">Recreating Wallet...</span>
      <span translate ng-show="index.onGoingProcessName == 'generatingCSV'">Generating .csv file...</span>
      <span translate ng-show="index.onGoingProcessName == 'Syncing'">Syncing... {{index.syncProgress}}</span>
      <span translate ng-show="index.onGoingProcessName == 'sending'">Sending...</span>
      <span translate ng-show="index.onGoingProcessName == 'recoveringFromSeed'">Recovering from seed...</span>
    </div>
  </div>

  <div ng-show="!index.noFocusedWallet">
    <div ui-view></div> <!-- tabs are rendered into this div -->
  </div>
  {{index.addonViews && index.addonViews.length > 0 ? index.addonViews : ''}}
  <div id="{{view.id}}" class="{{view.class}} tab-view" ng-repeat="view in index.addonViews" style="display: none;"
       ng-include="view.template">
  </div>
</div>
<div ng-include="'views/includes/menu.html'" ng-show="!index.noFocusedWallet"></div>
