<div class="modal-content fix-modals-touch">
  <a class="close_modal" ng-click="cancel()"><svg-icon title="close"></svg-icon></a>

  <div class="modal-content-header">
      <h3 translate>Definition of smart address</h3>
  </div>
	<div class="row columns m20t" translate>{{address}} can be spent if:</div>
	<div class="row columns size-14 center enable_text_select" dynamic="humanReadableDefinition"></div>
	<div class="row columns m20t size-14">
		<span class="text-gray" translate>Peer:</span>
		<span>{{cosigners}}</span>
	</div>
	<div class="row columns size-14">
		<span class="text-gray" translate>Created:</span>
		<span>
		  <time>{{ creation_ts * 1000 | amDateFormat:'MM/DD/YYYY HH:mm a'}}</time>
		  <time>({{ creation_ts * 1000 | amTimeAgo}})</time>
		</span>
	</div>
	<div class="large-12 large-centered row columns m20t">
		<button class="btn btn_red-full" ng-click="cancel()" translate>
			Close
		</button>
	</div>

</div>
