<div class="modal-content fix-modals-touch">
  <a class="close_modal" ng-click="cancel()"><svg-icon title="close"></svg-icon></a>

  <div class="modal-content-header">
      <svg-icon title="dag-symbol" ng-show="!amountInSmallestUnits"></svg-icon>
      <h3 translate>Request specific amount</h3>
  </div>

  <div ng-show="amountInSmallestUnits">
  <h4 class="title no-margin" translate>QR Code</h4>
  <ul class="no-bullet size-14 m0">
    <li class="line-b p10 oh text-center">
      <dag-qr-code url="{{protocol}}:{{addr + '?amount=' + amountInSmallestUnits + asset_param}}"></dag-qr-code>
      <div class="m10t text-center" ng-show="isCordova">
        <span class="button outline dark-gray tiny round"
          ng-click="shareAddress('Payment request: ' + amountInSmallestUnits / dagUnitValue + ' DAG to ' + addr)">
          <i class="fi-share"></i>
          <span translate>Share address</span>
        </span>
      </div>
    </li>
  </ul>
  <h4 class="title no-margin" translate>Details</h4>
  <ul class="no-bullet size-14 m0">
    <li class="line-b p10 oh">
    <span class="text-gray" translate>Address</span>: <br/>
    <span>
     {{addr}}
    </span>
    </li>
    <li class="line-b p10 oh">
    <span class="text-gray" translate>Amount</span>: <br/>
    <span>
      {{customizedAmountUnit}}
    </span>
    </li>
  </ul>
  </div>
  <div ng-show="!amountInSmallestUnits" class="row m20t">
    <div class="large-12 large-centered columns">
      <form name="amountForm" ng-submit="submitForm(amountForm)" novalidate>
        <div class="right" ng-hide="amountForm.amount.$pristine && !amountForm.amount.$modelValue ">
          <span class="has-error right size-12" ng-if="amountForm.amount.$invalid">
            <i class="icon-close-circle size-14"></i>
            <span clas="vm" translate>Not valid</span>
          </span>
          <small class="text-primary right" ng-if="!amountForm.amount.$invalid">
            <i class="icon-checkmark-circle size-14"></i>
          </small>
        </div>
        <div>
          <label for="amount">
            <span translate>Amount</span>
          </label>
          <div class="input input-wrap">
            <input type="number" id="amount" name="amount" ng-attr-placeholder="{{'Amount'|translate}}" 
            ng-model="_customAmount" valid-amount="{{dagAsset}}" required autocomplete="off"
            min="0.000001" ng-minlength="1" ng-maxlength="12">
            <a class="postfix">{{dagUnitName}}</a>
          </div>
        </div>
        <button type="submit" class="btn btn_red-full" ng-disabled="amountForm.$invalid" translate>
          {{buttonLabel}}
        </button>
      </form>
    </div>
  </div>

</div>
