<div class="modal-content" style="padding: 30px;">
  <a class="close_modal" ng-click="close()">
    <svg-icon title="close"></svg-icon>
  </a>

  <div class="modal-content-header">
    <h3 style="text-transform: uppercase;" translate>Notifications</h3>
  </div>

  <div class="modal-content-body text-center">
    <div ng-show="notifications.length > 0" class="notifications-container dag-scroll">
      <div ng-repeat="notification in notifications | orderBy: '-timestamp'">
        <span><b>{{notification.title}}</b> <i>{{notification.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</i></span>
        <span ng-show="!notification.isRead" class="not-read">new</span> <br/>
        <span>{{notification.content}}</span> <hr/>
      </div>
    </div>
    <div ng-show="notifications.length > 0" class="notification-buttons">
      <button ng-click="clearNotifications()" class="btn btn_red tiny">
        <svg-icon name="delete"></svg-icon>
        <span translate>Clear notifications</span>
      </button>
    </div>
    <div ng-show="notifications.length <= 0" class="no-notifications-container">
      <p translate>There are no notifications</p>
    </div>
  </div>
</div>
