<div class="navbar-container" ng-class="{'invert':invert}">
    <div class="navbar-container-triggers">
        <span ng-show="showBack" ng-click="go();">
            <svg-icon name="arrow_back" class="back-button"></svg-icon>
        </span>

        <span ng-click="openMenu()" ng-show="!showBack">
            <svg-icon name="menu2"></svg-icon>
        </span>
    </div>
    <div class="navbar-container-title">{{title}}</div>

    <ng-transclude><div class="navbar-container-triggers-right"></div></ng-transclude>
</div>
