<div class="navbar-container" ng-class="{'invert':invert}">
    <div class="navbar-container-triggers">
        <a dag-state-transition="{{goBackTransition || 'slide-right'}}" ng-show="showBack" ng-click="goStateBack();">
            <svg-icon name="chevron-left-thin" class="back-button"></svg-icon>
        </a>

        <span ng-click="openMenu()" ng-show="!showBack">
            <svg-icon name="menu2"></svg-icon>
        </span>
    </div>
    <div class="navbar-container-title">{{title}}</div>

    <div class="navbar-container-triggers navbar-container-triggers-right">
        <ng-transclude></ng-transclude>
    </div>
</div>