<div id="receive" class="receive p-share tab-view cordova-scrollable">
  <div class="p-wrap text-center m20t">

    <h2 style="padding: 10px 20px;font-weight: 400;font-size: 14px;margin-top: 40px;">{{'Tap the' | translate}}
      <strong>QR-code</strong> {{'to copy its address.' | translate}}<br/>
      {{'Share it with the sender via email or text.' | translate}}</h2>

    <!-- Address-->
    <div class="text-center">
      <div class="box-notification" ng-show="home.addrError">
                <span class="text-warning">
                  {{home.addrError|translate}}
                </span>
      </div>

      <div ng-click="receive.copyAddress(receive.addr[receive.walletId])"
           ng-show="receive.addr[receive.walletId] || receive.generatingAddress">
        <dag-qr-code url="{{receive.protocol}}:{{receive.addr[receive.walletId]}}" image-div-id="receive-address-img"></dag-qr-code>

        <img width="220" id="receive-address-img" src="img/empty-qr.png" />

        <div ng-show="!receive.isCordova" ng-class="{'visible': tooltipCopiedShown}"
             class="tooltip radius tip-top" translate>
          <svg-icon name="done"></svg-icon>
          Copied!
        </div>
      </div>
      <div class="m10t" ng-hide>
        <h4 ng-class="{'enable_text_select': !receive.isCordova}" class="size-12">
          {{index.shared_address || (receive.generatingAddress ? '...' : receive.addr[receive.walletId])}}
        </h4>
      </div>
    </div>
    <a class="size-14"
       ng-click="receive.openCustomizedAmountModal(index.shared_address || receive.addr[receive.walletId])">
      <span translate>Request a specific amount</span>
    </a>
  </div>
</div>
