<dag-nav-bar title="{{ 'Session log' | translate}}" go-back="about" invert>
  <div class="navbar-container-triggers navbar-container-triggers-right">
    <a ng-click="logs.showLogSettings()">
      <svg-icon name="more_horiz"></svg-icon>
    </a>
  </div>
</dag-nav-bar>

<div class="content preferences dag-scroll">
  <div class="row columns large-centered medium-centered">
    <button class="btn btn_red-full send-by-email-button "
            ng-disabled="!hasLogForCurrentLevel"
            ng-click="logs.sendLogs()" ng-show="logs.isCordova"><i class="fi-mail"></i>
      <span translate>Send by email</span>
    </button>
    <ul class="log-list">
      <li class="line-b enable_text_select" ng-repeat="l in logs.logs">
      <span
        ng-class="{'text-warning': l.level=='warn', 'text-secondary': l.level=='debug', 'text-primary': l.level=='info', 'text-alert': l.level=='error' }">
        <b>[{{l.dateTime | amDateFormat:'YYYY-MM-DD HH:mm:ss.SSS'}}] [{{l.level}}]</b> {{l.msg}}
      </span>
      </li>
    </ul>
  </div>
</div>
<div ng-show="!logs.isCordova" ng-class="{'visible': tooltipCopiedShown}"
     class="tooltip radius tip-top" translate>
  <svg-icon name="done"></svg-icon>
  Copied!
</div>
