@import "../../../css/variables";

.dag-password-container {
  input {
    padding-right: 37px;
  }

  .pass-svg {
    width: 18px;
    color: #ccc;
    top: calc(50% - 9px);
    right: 15px;
    position: absolute;
    pointer-events: auto;
    cursor: pointer;
  }

  .password {
    -webkit-text-security: disc;
    -moz-text-security: disc;
  }
}
