<dag-nav-bar title="{{ 'Address Book' | translate }}">
  <a dag-state-transition="slide-left" ui-sref="new_contact">
    <svg-icon name="add"></svg-icon>
  </a>
</dag-nav-bar>

<div class="content contacts" ng-class="{'no_contacts' : !contacts.listTotal}">
  <div ng-if="!contacts.listTotal" class="no_contacts_message">
    <svg-icon name="agenda"></svg-icon>
    <p translate>Currently you don't have any contacts in your address book.</p>
    <p translate>Press "+" in the right upper corner to add your first contact.</p>
  </div>

  <div class="swiper_tabs_menu" ng-if="contacts.listTotal">
    <ul>
      <li ng-class="{'active': contacts.activeTab(0)}" ng-click="contacts.swiper.slideTo(0)">
        <span>{{ 'contacts' | translate }}</span>
      </li>
      <li ng-class="{'active': contacts.activeTab(1)}" ng-click="contacts.swiper.slideTo(1)">
        <span>{{ 'favorites' | translate }}</span>
      </li>
    </ul>
  </div>

  <ks-swiper-container ng-if="contacts.listTotal" pagination-is-active="false"
                       swiper="swiper"
                       on-ready="contacts.onReadySwiper(swiper)"
                       override-parameters="{'slidesPerView': 1, 'spaceBetween': 0, 'centeredSlides': true}">

    <ks-swiper-slide class="swiper-slide">

      <div class="contacts_list" ng-scrollbars>
        <div class="contacts_list_group" ng-repeat="(letter, list) in contacts.list">
          <h4 class="contacts_list_letter">{{letter}}</h4>
          <table>
            <tbody>
            <tr ng-repeat="contact in list">
              <td class="contacts_list_contact_info">
                <div class="avatar"></div>
                <a class="contacts_list_contact_info_full_name" ui-sref="contact({address: '{{contact.address}}'})">{{contact.first_name}}
                  {{contact.last_name}}</a>
              </td>
              <td class="contacts_list_contact_favorite" ng-click="contacts.toggleFavorite(contact)">
                <div class="contacts_list_contact_favorite_trigger" ng-class="{'selected' : contact.favorite}">
                  <svg-icon name="star"></svg-icon>
                  <svg-icon name="star_border"></svg-icon>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </ks-swiper-slide>
    <ks-swiper-slide class="swiper-slide">

      <div class="contacts_list" ng-if="contacts.favoriteListTotal" ng-scrollbars>
        <div class="contacts_list_group" ng-repeat="(letter, list) in contacts.favoriteList">
          <h4 class="contacts_list_letter">{{letter}}</h4>
          <table>
            <tbody>
            <tr ng-repeat="contact in list">
              <td class="contacts_list_contact_info">
                <div class="avatar"></div>
                <a class="contacts_list_contact_info_full_name" ui-sref="contact({address: '{{contact.address}}'})">{{contact.first_name}}
                  {{contact.last_name}}</a>
              </td>
              <td class="contacts_list_contact_favorite" ng-click="contacts.toggleFavorite(contact)">
                <div class="contacts_list_contact_favorite_trigger" ng-class="{'selected' : contact.favorite}">
                  <svg-icon name="star"></svg-icon>
                  <svg-icon name="star_border"></svg-icon>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="no_contacts_message" ng-if="contacts.favoriteListTotal === 0">
        <svg-icon name="favorite_star"></svg-icon>
        <p>You don't have any favorite contacts selected.</p>
        <p>To select a favorite contact press <svg-icon name="star_border"></svg-icon> next to contact's name.</p>
      </div>

    </ks-swiper-slide>
  </ks-swiper-container>

</div>
