@import "../../../css/variables";

.contacts {
  .swiper-container {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    bottom: 0;
  }

  &.no_contacts {
    background: #f1f1f1;
  }

  .no_contacts_message {
    @extend .slideInDown;
    margin: 30px;
    text-align: center;
    padding: 30px;
    background: #fff;
    border-radius: 10px;

    &.ng-leave {
      display: none;
    }

    svg {
      width: 100px;
      height: 100px;
    }

    p {
      color: #777;
      font-size: 14px;
      line-height: 18px;
      margin: 20px 0;

      svg {
        width: 18px;
        height: 18px;
      }

      svg-icon.svg-icon-star_border {
        color: $gold;

        svg {
          position: relative;
          top: -1px;
          margin: 0 5px;
        }
      }
    }
  }

  .contacts_search_bar {
    margin: 10px 15px;
    position: relative;

    svg-icon {
      color: #b3bbc4;

      svg {
        width: 16px;
        height: 16px;
      }

      &.search_icon{
        position: absolute;
        left: 10px;
        top: 50%;
        margin-top: -8px;
      }
    }

    .clear_icon{
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 40px;
    }

    .contacts_search_bar_input {
      border: none;
      padding: 10px 40px;
      width: 100%;
      background: #f1f1f1;
      max-width: 100%;
      font-size: 13px;
      color: #666;
      font-weight: 400;
    }
  }

  .contacts_list {
    height: 100%;
    position: relative;

    .contacts_list_group {
      padding: 20px;
    }

    .contacts_list_letter {
      color: #a1a7af;
      margin: 10px 0;
    }

    table {
      margin: 0;
      width: 100%;

      td {
        border-bottom: 1px solid #eee;
        border-top: 1px solid #eee;
        text-align: left;
        line-height: inherit;
        padding: 15px 20px;
        vertical-align: middle;

        &.contacts_list_contact_favorite {
          text-align: center;
          width: 60px;
          padding: 0;

          .contacts_list_contact_favorite_trigger {
            position: relative;
            overflow: hidden;
            display: inline-block;
            width: 24px;
            height: 24px;

            svg-icon {
              @extend .transition;
              position: absolute;
              left: 0;
              top: 0;
              height: 100%;
              width: 100%;
              color: $gold;

              &.svg-icon-star {
                transform: scale(0.3);
                opacity: 0;
              }

              &.svg-icon-star_border {
                transform: scale(1);
                opacity: 1;
              }
            }

            &.selected {
              svg-icon {
                &.svg-icon-star {
                  transform: scale(1);
                  opacity: 1;
                }

                &.svg-icon-star_border {
                  transform: scale(1.5);
                  opacity: 0;
                }
              }
            }
          }
        }

        &.contacts_list_contact_info {
          position: relative;
          padding-left: 60px;

          .avatar {
            margin-right: 20px;
            position: absolute;
            left: 10px;
            top: 50%;
            margin-top: -20px;
          }

          .contacts_list_contact_info_full_name {
            font-weight: 700;
            height: 20px;
          }

          .contacts_list_contact_info_email {
            font-size: 12px;
            color: #888;
            height: 16px;
          }
        }
      }
    }
  }
}
