<div class="navbar-wrap" style="z-index: 12">
  <ul>
    <li ng-repeat="item in index.menu" ng-class="{'active': index.tab === item.link || (index.tab === (item.link === 'correspondentDevices' ? 'chat' : item.link))}">
      <a id="menu-{{item.link}}" ui-sref="{{item.link}}">
        <svg class="icon {{item.icon}}" style="width: 24px;">
          <use xlink:href="{{index.getSvgSrc(item.icon)}}"></use>
        </svg>
        <span>{{ item.title|translate }}</span>
      </a>
    </li>
  </ul>
  <menu-toggle ng-show="index.menu.length > 5"></menu-toggle>
</div>
