<dag-nav-bar title="{{ 'System' | translate}}" go-back="preferencesGlobal" invert></dag-nav-bar>

<div class="content preferences">
  <ul class="preferences_links">
    <li dag-state-transition="slide-left" dag-right-icon="chevron-thin-right" ui-sref="preferencesDeviceName">
      <div translate>Device name</div>
      <div class="value wrapped">{{system.deviceName}}</div>
    </li>

    <li dag-state-transition="slide-left" dag-right-icon="chevron-thin-right" ng-click="system.changeWalletType()"
        ng-if="system.canChangeWalletType">
      <div translate>Change Wallet type</div>
      <div class="value">{{system.type}}</div>
    </li>
    <li dag-state-transition="slide-left" dag-right-icon="chevron-thin-right" ui-sref="preferencesHubSettings"
        ng-if="system.canChangeHubSettings">
      <div translate>Hub Settings</div>
      <div class="value">{{system.hub}}</div>
    </li>
    <!--todo:temporary disable until we translate every language 100%-->
    <!--<li dag-state-transition="slide-left" dag-right-icon="chevron-thin-right" ui-sref="preferencesLanguage">-->
    <!--<div translate>Language</div>-->
    <!--<div class="value">-->
    <!--{{system.currentLanguageName|translate}}-->
    <!--</div>-->
    <!--</li>-->
  </ul>
</div>
