<dag-nav-bar title="{{ 'New Contact' | translate }}" invert>
  <qr-scanner on-scan="contact.onQrCodeScanned(data)">
  </qr-scanner>
</dag-nav-bar>

<div class="content" ng-scrollbars>
  <div class="contact_form">
    <form name="newContact" ng-submit="contact.create()" novalidate>
      <div class="input-wrap">
        <label class="required" for="address">{{ 'Wallet address' | translate}}</label>
        <input id="address" class="animated" ng-class="{'shake error' : (newContact.address.$touched && newContact.address.$invalid || contact.address_error)}" valid-address type="text" ng-model="contact.address" name="address" required>
        <div class="has-error" ng-if="contact.address_error">{{contact.address_error}}</div>
      </div>

      <div class="input-wrap">
        <label class="required" for="first_name">{{ 'First name' | translate}}</label>
        <input id="first_name" class="animated" ng-class="{'shake error' : newContact.first_name.$touched && newContact.first_name.$invalid}" ng-maxlength="20" type="text" ng-model="contact.first_name" name="first_name" required>
      </div>

      <div class="input-wrap">
        <label for="last_name">{{ 'Last name' | translate}}</label>
        <input id="last_name" type="text" ng-model="contact.last_name" name="last_name">
      </div>

      <div class="input-wrap">
        <label for="email">{{ 'E-mail' | translate}}</label>
        <input id="email" type="text" ng-model="contact.email" name="email">
      </div>

      <div class="input-wrap">
        <label for="description">{{ 'Description' | translate}}</label>
        <textarea name="description" id="description" ng-model="contact.description" cols="30" rows="10"></textarea>
      </div>

      <button class="btn btn_red btn_red-full" ng-disabled="newContact.$invalid" type="submit">{{ 'Save' | translate }}</button>
    </form>
  </div>
</div>
