<div id="send" class="send tab-view cordova-scrollable">
  <div class="p-share js-introduction">
    <div class="p-wrap" style="width: 300px; margin: 0 auto; overflow: unset;">
      <form class="page-form" name="sendForm" novalidate>
        <div class="box-notification" ng-show="send.error" ng-click="send.resetError()">
              <span class="text-warning">
                {{send.error|translate}}
              </span>
        </div>
        <div class="form-group">
          <div ng-if="send.deviceAddressIsKnown()"
               style="font-size: 11px; font-weight: bold; margin-top: -1.5rem; margin-bottom: 1.5rem">
          </div>
          <div ng-if="!send.deviceAddressIsKnown()"
               style="font-size: 11px; font-weight: bold; margin-top: -1.5rem; margin-bottom: 1.5rem">
            <a dropdown-toggle="#binding-drop" data-options="align:top"></a>
          </div>
          <div class="title clearfix">
            <span class="name" translate>Amount</span>
            <span class="available" translate>Available <span>{{index.baseBalance.stable / 1e6}}</span></span>
            <a ng-click="send.setSendAll()" ng-show="!send.lockAmount && index.baseBalance.stable > 0"
               style="text-transform: none; margin-left: 10px" translate>Send all</a>
            <a ng-click="send.cancelSendAll()" ng-show="alreadyEnteredSendAll"
               style="text-transform: none; margin-left: 10px" translate>Cancel Send all</a>
          </div>


          <div class="input-wrap input-icon">
            <input
              ng-class="{'error': sendForm.amount.$invalid && !sendForm.amount.$error.required, 'success': !sendForm.amount.$invalid}"
              style="font-size: 12px;" type="number" id="amount"
              ng-disabled="send.blockUx || send.lockAmount"
              name="amount" ng-attr-placeholder="{{('Amount')|translate}}" min="0.000001"
              ng-minlength="1" ng-maxlength="16" ng-model="_amount"
              ng-required="!send.bSendAll"
              autocomplete="off" ng-focus="home.formFocus('amount')"
              ng-blur="amountBlur()"
              input-validator>

            <svg-icon name="icon-d" class="icon"></svg-icon>

          </div>

        </div>
        <div class="form-group">

          <div class="title clearfix">
            <span class="name" translate>Receiver</span>
          </div>

          <div class="input-wrap input-icon">
            <input
              ng-class="{'error' : sendForm.address.$invalid && _address, 'success': _address && !sendForm.address.$invalid}"
              style="font-size: 12px;"
              type="text" id="address"
              name="address"
              ng-disabled="send.blockUx || send.lockAddress"
              ng-attr-placeholder="{{send.canSendExternalPayment() ? ('DAG address' | translate) : ('DAG address of your other wallet &#8594;' | translate)}}"
              ng-model="_address" valid-address required
              ng-blur="home.formFocus(false)">

            <a ng-click="send.openDestinationAddressModal(index.otherWallets, _address)">
              <i class="icon icon-d icon-wallet"></i>
            </a>
          </div>
          <!--Commenting this out until binding functionality is introduced-->
          <!--<div class="title clearfix" style="margin-left: 0;" ng-if="index.baseBalance.stable > 0">-->
            <!--<div ng-if="send.deviceAddressIsKnown()">-->
              <!--<a ng-click="send.openBindModal()">-->
                <!--<span ng-if="!send.binding" translate>Bind the payment to a condition</span>-->
                <!--<span ng-if="send.binding" translate>This payment is bound to a condition</span>-->
              <!--</a>-->
            <!--</div>-->
            <!--<div id="binding-drop" class="f-dropdown title clearfix" style="padding: 10px; margin:15px;"-->
                 <!--data-dropdown-content translate>-->
              <!--To bind the payment to a condition, please click the peer's address in chat-->
            <!--</div>-->
            <!--<div ng-if="!send.deviceAddressIsKnown()">-->
              <!--<a dropdown-toggle="#binding-drop" data-options="align:top">-->
                <!--<span translate class="name">Bind the payment to a condition</span>-->
              <!--</a>-->
            <!--</div>-->
          <!--</div>-->

        </div>
        <div class="page-action">
          <button ng-disabled="sendForm.$invalid || index.onGoingProcessName == 'sending'" class="btn btn_red-full send-button"
                  ng-click="send.submitForm()" translate>Send <i ng-if="send.validForSeconds > 0">({{send.validForSeconds}})</i>
          </button>
          <button ng-if="send.validForSeconds > 0" class="btn btn_red-full" ng-click="send.cancelForm()" translate>Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
