@import "../../../../css/variables";

.intro_confirm_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  .intro_confirm_content_checkboxes{
    padding: 20px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;

    h2 {
      text-align: center;
      font-weight: 400;
      font-size: 26px;
      margin-bottom: 20px;
    }

    p {
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      margin-bottom: 20px;
      animation-delay: 0.5s;
    }

    ul{
      animation-delay: 1s;
      li{
        margin-bottom: 20px;
      }
    }
  }

  .intro_confirm_content_trigger{
    @include gradientBackground(darken(#f1f1f1, 5), #f1f1f1, bottom, top);
    padding: 20px;
    border-top: 1px solid #ddd;

    label{
      margin-bottom: 20px;

      span{
        color: $main_color;
        text-decoration: underline;
        white-space: pre;
      }
    }
  }
}

.terms_of_use_confirm{

  ::-webkit-scrollbar {
    display: none;
  }

  .ngdialog-content{
    height: 100%;
    overflow-y: auto;
    padding: 20px;

    .terms_of_use{
      padding: 20px;
    }
  }

  .introduction-svg{
    z-index: -1;
    opacity: 0.6;
  }
}
