.chats{
  .correspondentList{
    margin: 30px;
    margin-bottom: 5px;

    li{
      margin-bottom: 30px;
      position: relative;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}