<div id="walletHome" class="walletHome tab-view tab-in">
  <div class="p-wallet js-introduction">
    <div class="p-wallet__price-block">
      <div ng-if="!index.anyOnGoingProcess || 1">
        <div ng-show="index.walletScanStatus != 'error' && !homeCtrl.balanceIsHidden && !homeCtrl.balanceIsZero()"
             ng-click='index.updateAll(); homeCtrl.updateHistoryFromNetwork()'
             on-long-press="homeCtrl.hideBalance()" long-press-duration="1200">
          <div class="price-wrapper">
            <div class="price">
              <svg-icon name="icon-d-home" class="icon price-icon"></svg-icon>
              <div class="price_digits">
                <div class="price_digits_wrapper" ng-if="pass.walletInfoVisibility.visible">
                      <span class="price-number"
                            ng-style="homeCtrl.getFontSizeForWalletNumber(index.baseBalance.totalStr)">
                        {{index.baseBalance.totalStr.split('.')[0]}}</span><span class="price-separator">.
                      </span>
                      <span class="price-sup"
                        ng-style="homeCtrl.getFontSizeForWalletNumber(index.baseBalance.totalStr, 'sup')">
                        {{index.baseBalance.totalStr.split('.')[1]}}
                      </span>
                </div>
              </div>
            </div>
          </div>
          <span ng-if="pass.walletInfoVisibility.visible && index.baseBalance.pending" class="ballance" translate>
            Pending wallet balance: {{index.baseBalance.pendingStr}}
          </span>
          <span ng-if="pass.walletInfoVisibility.visible && !index.baseBalance.pending" class="ballance" translate>
            Wallet balance
          </span>

          <div class="size-10 m10t" ng-if="pass.walletInfoVisibility.visible && index.baseBalance.shared !== undefined">
            <a ng-click="homeCtrl.openSubwalletModal()" style="color: #fff; opacity: .6;">
              <span translate>Also</span>
              <span>{{index.baseBalance.sharedStr}}</span>
              <span translate>in smart wallets</span>
            </a>
          </div>
          <div class="m10t" ng-if="pass.walletInfoVisibility.visible">
            <a ng-click="homeCtrl.openSharedAddressDefinitionModal(index.shared_address)"
               class="button outline round light-gray tiny preferences-icon m0" ng-if="index.shared_address">
              <i class="fi-eye size-24 vm wallet-settings"></i>
              <span class="show-for-medium-up" translate>Definition</span>
            </a>
          </div>
          <span class="hint-span" translate>Tap and hold balance to hide it</span>
        </div>
        <div class="hidden-balance" ng-show="homeCtrl.balanceIsHidden && !homeCtrl.balanceIsZero()">
          <div class="hidden-balance-icon" on-long-press="homeCtrl.showBalance()" 
             prevent-click="true" long-press-duration="1200">
            <svg-icon name="hidden"></svg-icon>
          </div>
          <p translate>Balance hidden</p>
          <span class="hint-span" translate>Tap and hold icon to make visible</span>
        </div>
        <div class="start-sending" ng-show="homeCtrl.balanceIsZero()">
          <div class="start-sending-icon">
            <svg-icon name="paperplane-buy"></svg-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="dag_transactions row m20t text-gray text-center" ng-if="index.updatingTxHistory" ng-show="!homeCtrl.balanceIsZero()">
      <div ng-if="index.txProgress > 6">
        <div translate class="oh text-center p20 text-gray">
          Initial transaction history synchronization can take some minutes for wallets with many transactions.<br/>
          Please stand by.
        </div>
        <div class="size-14 m20t">
          <b>{{index.txProgress}}</b>
          <span translate>Transactions<br> Downloaded</span>
        </div>
      </div>
      <span class="text-gray text-center size-12 p10t" ng-if="index.txHistoryError" ng-click='index.updateTxHistory()'>
              <p class="size-12 m10b db" translate>Could not fetch transaction history</p>
              <button class="btn btn_red tiny" translate>Tap to retry</button>
            </span>
      <div class="text-gray text-center size-12 p10t" ng-if="index.updateError"
           ng-click='index.openWallet(); index.updateTxHistory()'>
        <span class="size-12 db m10b">{{index.updateError|translate}}</span>
        <button class="btn btn_red tiny" translate>Tap to retry</button>
      </div>
    </div>
    
    <div class="start-sending-text" ng-show="homeCtrl.balanceIsZero()">
      <p class="heading" translate>Start sending Dagcoin</p>
      <p class="explanation" translate>
        To get started, buy Dagcoin or share your address.
        You can receive Dagcoin from other Dagcoin wallets.
      </p>
      <button class="btn btn_red-full" ng-click="homeCtrl.buyDagcoin()" translate>
        <span>Buy Dagcoin</span>
      </button>
      <p class="show-address" ng-click="homeCtrl.showAddress()" translate>Show wallet address</p>
    </div>

    <div class="oh text-center p20 text-gray"
         ng-if="!index.updatingTxHistory && !index.txHistory[0] && !index.txHistoryError"
         ng-show="!homeCtrl.balanceIsHidden && !homeCtrl.balanceIsZero()">
      <span translate>No transactions yet</span>
    </div>

    <div class="dag_transactions" ng-show="index.txHistory[0] && !index.updatingTxHistory && !homeCtrl.balanceIsZero()"
         ng-if="pass.walletInfoVisibility.visible">
      <div class="dag_transactions_list">
        <div class="dag_transactions_list_triggers">
          <h4 translate>Transactions History</h4>
          <dag-csv-history></dag-csv-history>
        </div>
        <dag-transactions-table></dag-transactions-table>
      </div>
    </div>
  </div>
</div>
