[Desktop Entry]
Type=Application
Version=@version
Name=DagWallet @type
Comment=A wallet for decentralized value
Exec=/usr/share/Dagcoin-wallet@type/DagWallet@exec-post
Icon=/usr/share/Dagcoin-wallet@type/icon_256x256.png
Terminal=false
Categories=Office;Finance;
MimeType=x-scheme-handler/dagcoin-wallet@type;
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage
